<a href="https://colab.research.google.com/github/deepakrawat68/code-snippets/blob/master/Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# List

In [2]:
marks = [50,60,70,90,60]

In [4]:
marks[0]="aaa"
marks

['aaa', 60, 70, 90, 60]

In [5]:
#List operations
#Append, pop, remove, extend

marks.append(80)
marks

['aaa', 60, 70, 90, 60, 80]

In [6]:
height=[120,150,150,144,122,123]
height.pop(4) #removes 4th index
height

[120, 150, 150, 144, 123]

In [7]:
height.remove(150) #removes first 150 value
height

[120, 150, 144, 123]

In [8]:
marks.extend(height) # add height list to marks list
marks

['aaa', 60, 70, 90, 60, 80, 120, 150, 144, 123]

In [10]:
#List slicing
name="Deepak Rawat"
short=name[0:6]
short

'Deepak'

In [11]:
short_list=marks[0:4]
short_list

['aaa', 60, 70, 90]

In [16]:
name1="deep"
name2=['d','e','e','p']
slice1=name1[0:2]
slice2=name2[0:2]
slice1
slice2

['d', 'e']

In [17]:
type(slice1)

str

In [18]:
type(slice2)

list

In [21]:
marks2=[45,55,85,63,42]
print(len(marks2)) #length of list marks2

5

In [22]:
print(sum(marks2)) #sum of all elements of marks2 list

290

In [23]:
#Tuple
A=()
type(A)

tuple

In [25]:
A=('A',)
type(A)

tuple

In [26]:
marks3=(45,84,63,59)
type(marks3)

tuple

In [29]:
marks3[0]=45 #tuples are immutables

TypeError: ignored

In [30]:
#Dictionary

phoneNo={'A':111,'B':222,'C':333,'D':444} #key value pairs
phoneNo

{'A': 111, 'B': 222, 'C': 333, 'D': 444}

In [31]:
print(phoneNo['A'])

111

In [33]:
phoneNo.values()

dict_values([111, 222, 333, 444])

In [34]:
phoneNo.keys()

dict_keys(['A', 'B', 'C', 'D'])

In [35]:
phoneNo.items()

dict_items([('A', 111), ('B', 222), ('C', 333), ('D', 444)])

In [37]:
#prepare a dictionary of phone no and serarch for a particular phone number

phoneNo={'Amit':111111111,'Sam':222222222, 'Tom': 33333333, 'Bob': 55555555}
searchItem='Tom'
number=phoneNo[searchItem]
print('Your search query for {} is {}'.format(searchItem,number))

Your search query for Tom is 33333333

In [38]:
#Boolean
5>6

False

In [40]:
sum=4+(2>6)
sum

4

In [42]:
sum = 4+ (3>0)
sum

5

In [72]:


#Functions

def function1():
  a=20
  b=30
  print('The average of {} and {} is {}'.format(a,b, (a+b)/2))

function1()

The average of 20 and 30 is 25.0

In [56]:
def fullName(fn,ln):
  print('My full name is {} {}'.format (fn,ln))

fullName('Deepak', ' Rawat')

My full name is Deepak  Rawat

In [68]:
def nickNameGenerator(fn, ln):
  fnl=int(0.4*len(fn)) #fourty % from first name
  lnl=int(0.4*len(ln)) # fourty % from last name
  nn= fn[0:fnl] + ln[0:lnl]
  print('Your possible nick name is',nn)

nickNameGenerator('Deepak', 'Rawat')

Your possible nick name is DeRa

In [79]:
#income as parameter and calculate the income tax, monthly income, <32 20%, >32 40%
#print monthly income and tax

#WAP to calculate the monthly salary and tax. the formal parameter will be annual salary
#tax <32000 20%
#>32000 40%
#>60000 60%

def incomeTaxCalculator(income):
  if income<32000:
    tax=(20/100)*income
  elif income>32000 and income<60000:
    tax=(40/100)*income
  else:    
    tax=(60/100)*income
  monthlyIncome=income/12
  print("Your monthly income is {:.2f} Euros and yearly income tax is {} Euros".format(monthlyIncome,tax))

incomeTaxCalculator(50000)

Your monthly income is 4166.67 Euros and yearly income tax is 20000.0 Euros

In [80]:
#Sets
myset = {'mango', 'apple', 'banana', 'cherry', 'orange'}
myset

{'apple', 'banana', 'cherry', 'mango', 'orange'}

In [82]:
#input statement

name=input('Plese enter your name ')
name

Plese enter your name xyz

'xyz'

In [86]:
#myset.remove('mango') #remove from set
#myset.discard('banana') 
#myset.clear()#clear full set
#del(myset) delete the set

Enter the name of player z c
['z', 'c']

In [88]:
set1={'a','b','c'}
set2={1,2,3,4}
set1.union(set2) #union of sets

{1, 2, 3, 4, 'a', 'b', 'c'}

In [90]:
set1.update(set2)
set1

{1, 2, 3, 4, 'a', 'b', 'c'}

In [93]:
set4=set(('a','b','c'))
set4

{'a', 'b', 'c'}

In [97]:
num=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for n in num:
  print('{} * {} * {} = {}'.format(n,n,n,n*n*n))

1 * 1 * 1 = 1
2 * 2 * 2 = 8
3 * 3 * 3 = 27
4 * 4 * 4 = 64
5 * 5 * 5 = 125
6 * 6 * 6 = 216
7 * 7 * 7 = 343
8 * 8 * 8 = 512
9 * 9 * 9 = 729
10 * 10 * 10 = 1000
11 * 11 * 11 = 1331
12 * 12 * 12 = 1728
13 * 13 * 13 = 2197
14 * 14 * 14 = 2744
15 * 15 * 15 = 3375
16 * 16 * 16 = 4096
17 * 17 * 17 = 4913
18 * 18 * 18 = 5832
19 * 19 * 19 = 6859
20 * 20 * 20 = 8000

In [110]:
#Check whether a number is prime or not
num = int(input('Enter a number '))
n=1
count=0
while n<=num:
  if num%n==0:
    count =count+1
  n=n+1  
if count==2:
   print('Prime')
else:
   print('Not Prime')

Enter a number 10
Not Prime